body {
    background-color: #2D3250;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin: 0px 0.1rem;
    text-align: center;
}
li {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    list-style: none;
}
h3 {
    font-size: 1rem;
    font-weight: 560;
}

.container-sm.even-container {
    background-color: #7077A1;
    color: #2D3250;
    font-family: sans-serif;
    box-shadow: 5px 3px 5px black;
    border:black solid 1px;
}

.mailsend {
    background-color: #F6B17A;
    color:#2D3250;
    border: solid 1px #2D3250;
    box-shadow: 1px 1px 3px;
}
.mailsend:hover {
    background-color: #f7a25d;
    color:#2D3250;
    border: solid 1px #2D3250;
    box-shadow: 1px 1px 3px;
}
.mailsend:active {
    background-color: #f79a4f;
    color:#2D3250;
    border: solid 1px #2D3250;
    box-shadow: 1px 1px 3px;
    --bs-btn-active-bg: #f79a4f;
    --bs-btn-active-color: #2D3250;

}

.container-sm.odd-container {
    background-color: #8d95c0;
    color: #2D3250;
    font-family: sans-serif;
    box-shadow: 5px 3px 5px black;
    border:black solid 1px;
}
.profile-picture {
    border-radius: 5px;
    border-color: black;
    border-width: 0.1rem;
    border-style: solid;
    box-shadow: 10px 5px 5px#2D3250;
}

.text-body-emphasis {
    --bs-emphasis-color: #2D3250;
}

section {
    margin: 0.5rem 0px 0.5rem 0px;
}
.icon-square {
   --bs-bg-opacity: 0;
}